
/* =================================code for form example ================ */
.form-check-input {
    transform: translate(40px, 0px);
    position: relative;
  }
  
  @media screen and (min-width: 1100px) {
    .questionText {
      text-align: center;
    }
  } 
   
  @media only screen and (min-width: 1200px) {
    .table-responsive {
      display: table !important;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .table-responsive {
      display: block;
    }
  }
  
  .limiter {
    width: 100%;
    margin: 0 auto
  }
  
  .wrap-table100 {
    width: 1170px;
  }
  
  .dropdown-menu-table {
    z-index: 10;
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
  }
  
  table {
    border-spacing: 1;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  table * {
    position: relative;
  }
  
  table td,
  table th {
    padding-left: 8px;
  }
  
  table thead tr {
    height: 60px;
    /* background: #35304a */
  }
  
  table tbody tr {
    height: 50px;
  }
  
  table tbody tr:last-child {
    border: 0;
  }
  
  table td,
  table th {
    text-align: left;
  }
  
  table td.l,
  table th.l {
    text-align: right
  }
  
  table td.c,
  table th.c {
    text-align: center
  }
  
  table td.r,
  table th.r {
    text-align: center;
  }
  
  .table100-head th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5
  }
  
  tbody tr {
    font-size: 15px;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: rgb(0, 0, 0);
    background-color: #d3d3d3
  }
  
  .column {
    width: 250px;
  }
  
  .thead-side {
    display: none;
  }
  
  @media screen and (max-width: 1100px) {
    table td {
      text-align: center;
      padding-right: 15px;
    }
  
    table td::before {
      text-align: left;
      padding-right: 10px;
    }
  
    table {
      display: block;
    }
  
    table>*,
    table tr,
    table td,
    table th {
      display: block;
    }
  
    table thead {
      display: none;
    }
  
    table tbody tr {
      height: auto;
      padding: 37px 0;
    }
  
    table tbody tr td::before {
      content: attr(data-index-name);
      ;
      padding-left: 20px;
      padding-top: 5px;
    }
  
    table tbody th {
      height: auto;
      padding-left: 35px;
  
    }
  
    .th-padding {
      padding-left: 63px;
      padding-bottom: 10px;
    }
  
    table tbody tr td {
      padding-left: 40% !important;
      margin-bottom: 24px;
    }
  
    table tbody tr td:last-child {
      margin-bottom: 0
    }
  
    table tbody tr td:before {
      font-size: 14px;
      color: #999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0;
    }
  
    .column {
      width: 100%
    }
  
    .thead-side {
      display: block;
      padding-left: 20px;
  
    }
  }
  
  @media(max-width: 576px) {
    .container-table100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  } 
   
  @media only screen and (min-width: 1200px) {
    .table-responsive {
      display: table !important;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .table-responsive {
      display: block;
    }
  }
  
  .limiter {
    width: 100%;
    margin: 0 auto
  }
  
  .wrap-table100 {
    width: 1170px;
  }
  
  .dropdown-menu-table {
    z-index: 10;
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
  }
  
  table {
    border-spacing: 1;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  table * {
    position: relative;
  }
  
  table td,
  table th {
    padding-left: 8px;
  }
  
  table thead tr {
    height: 60px;
    /* background: #35304a */
  }
  
  table tbody tr {
    height: 50px;
  }
  
  table tbody tr:last-child {
    border: 0;
  }
  
  table td,
  table th {
    text-align: left;
  }
  
  table td.l,
  table th.l {
    text-align: right
  }
  
  table td.c,
  table th.c {
    text-align: center
  }
  
  table td.r,
  table th.r {
    text-align: center;
  }
  
  .table100-head th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5
  }
  
  tbody tr {
    font-size: 15px;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: rgb(0, 0, 0);
    background-color: #d3d3d3
  }
  
  .column {
    width: 250px;
  }
  
  .thead-side {
    display: none;
  }
  
  @media screen and (max-width: 1100px) {
    table td {
      text-align: center;
      padding-right: 15px;
    }
  
    table td::before {
      text-align: left;
      padding-right: 10px;
    }
  
    table {
      display: block;
    }
  
    table>*,
    table tr,
    table td,
    table th {
      display: block;
    }
  
    table thead {
      display: none;
    }
  
    table tbody tr {
      height: auto;
      padding: 37px 0;
    }
  
    table tbody tr td::before {
      content: attr(data-index-name);
      ;
      padding-left: 20px;
      padding-top: 5px;
    }
  
    table tbody th {
      height: auto;
      padding-left: 35px;
  
    }
  
    .th-padding {
      padding-left: 63px;
      padding-bottom: 10px;
    }
  
    table tbody tr td {
      padding-left: 40% !important;
      margin-bottom: 24px;
    }
  
    table tbody tr td:last-child {
      margin-bottom: 0
    }
  
    table tbody tr td:before {
      font-size: 14px;
      color: #999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0;
    }
  
    .column {
      width: 100%
    }
  
    .thead-side {
      display: block;
      padding-left: 20px;
  
    }
  }
  
  @media(max-width: 576px) {
    .container-table100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }